<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF=8">
        <title>자기소개서</title>
        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>

    <body>
        <div id="wrap">
            <!-- 헤더영역 -->
            <div id="header" class="clearfix">
                <!-- 사이트로고 -->
                <h1><a href="../main/main.html">Mysite</a></h1>

                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="../user/join.html">회원가입</a></li>
                </ul>
            </div>
            <!-- //헤더영역 -->


            <!-- 네비게이션(상단메뉴 GNB) -->
            <div id="nav">

                <ul class="clearfix">
                    <li><a href="../info/resume.html">입사지원서</a></li>
                    <li><a href="../board/list.html">게시판</a></li>
                    <li><a href="../gallary/gal.html">갤러리</a></li>
                    <li class="last"><a href="">방명록</a></li>
                </ul>

            </div>
            <!-- //네비게이션(상단메뉴 GNB) -->

            <!-- 컨텐츠 영역 -->
            <div id="contents" class="clearfix">

                <!-- 왼쪽메뉴 -->
                <div id="aside">
                    <div>
                        <h2>
                            입사지원서
                        </h2>

                        <ul>
                            <li><a href="./resume.html">이력서</a></li>
                            <li><a href="./info.html">자기소개서</a></li>
                            <li><a href="./career.html">경력기술서</a></li>
                        </ul>
                        
                    </div>


                </div>
                <!-- //왼쪽메뉴 -->


                <!-- 메인 -->
                <div id="main">

                    <div id="main-head" class="clearfix">
                        <h3>
                            자기소개서
                        </h3>
                        <ul class="clearfix">
                            <li><a href="../main/main.html">홈</a></li>
                            <li>입사지원서</li>
                            <li class="last">자기소개서</li>
                        </ul>
                    </div>
                    <!-- //main-head -->

                

                    <div id="main-body">
                        <div id="board">
                            

                            <!-- 게시판 리스트 -->
                            <div id="board-list">
                                <h2>▶ 터닝 포인트가 된 52일간의 여정</h2>

                                <P>대학 생활 중 3학년 1학기 즈음 학생회 활동과 학업 병행에 버거움을 느꼈습니다. 
                                    학생회 활동을 일단락하고 과감히 휴학을 결정, 유럽 여행을 다녀왔습니다. 
                                    여행 전후 가장 크게 달라진 점을 꼽자면, 낯가림 심하던 제가 크리스마스에 
                                    여행자들을 모아 파티를 열고 여행지별로 동행과 함께하는 등 낯선 곳에서 새로운 
                                    사람과의 만남을 즐기고 자연스럽게 여기게 되었다는 것입니다. 이러한 친화력은 
                                    어느 부서에서나 분위기를 화기애애하게 이끌 수 있는 강점이 될 것이라고 생각합니다.
                                    <br>
                                    추진력이 향상된 계기가 되었습니다. 어렸을 때부터 이루고자 하는 뜻이 있으면 스스로 
                                    처리해내는 편입니다. 일례로 중고등 학생 때부터 필요한 물품이 있으면 공동구매를 개최하여 
                                    구매자 모집 및 업체 통해 전달받는 등의 일련의 과정을 겪어 왔습니다. 
                                    마지막으로 이때부터 비로소 홀로서기를 시작했다고 생각합니다. 
                                    현업에서도 하루빨리 독립적 업무 능력을 갖추어, 어떤 상황에서든, 문제 상황을 
                                    극복하면서 끝까지 포기하지 않고 임무를 완수하는 데에 최선을 다하는 사원이 되겠습니다.
                                </P>
                                <h2>▶ 내 안의 틀을 깨다, 협공대 홍보부장</h2>
                            
                                <p>학부 생활 내내 지속해서 학생회 홍보부장으로서 신입생 오리엔테이션, 공대인의 밤 행사, 
                                연예인 섭외 등 4000명의 공대 학우들을 아우르는 각종 행사를 이끄는 것에서부터 SNS 관리, 
                                학생회 홍보 자료, 사진 촬영 등 잡다한 일까지 헌신적으로 열심히 활동했습니다. 이 과정에서 
                                누군가와 협업하는 것에 서툴렀던 점이 조직에 적응하고, 주어진 역할을 충실히 수행하는 성격으로 
                                바뀌었습니다. 어느새 특유의 사교성으로 팀원을 독려하기까지 했습니다. 삼성에서도 재능 기부가 
                                많다고 알고 있습니다. 재능은 물론이고, 새로운 사람을 만나서 동기부여가 되어주는 것 또한 역량이 
                                필요하다는 생각입니다. 
                                </p>
                                <h2>▶ 배움의 자세로 임하겠습니다.</h2>
                            
                                <p>고등학교 때부터 화학 실험에 흥미가 많아, 방학 동안 화학 실험 동아리 활동을 하며 화공학도의 
                                꿈을 키웠습니다. 그리고 대학에 진학하여 다양하게 전공 실험 활동에 충실히 참여하였습니다. 
                                반응 속도 측정 실험, 고체 건조 등의 기본적인 내용부터 시작하여 금나노 합성, 단증류 실험 
                                그리고 반도체 공정과 관련된 실험까지 하기도 했습니다. 힘들기도 했지만 배움의 즐거움이 컸습니다. 
                                실력을 갖추기 위해서는 배워야 합니다. 전공 지식을 갖추었다고 하더라도 실무를 늘 배우는 자세를 
                                유지하고 노력한다면 어떨까요? 자신을 겸허히 하고 선배님들의, 나아가 후배들의 말 또한 경청하고 
                                받아들이는 사원이 되고 싶습니다.
                                </p>
                            </div>
                            <!-- //게시판 리스트 -->



                            

                        </div>
                    </div>
                        <!-- //board -->
                </div>

            
                <!-- //메인 -->

            </div>

            <!-- //컨텐츠영역 -->



            <!-- 푸터 -->
            <div id="footer">
                <p>Copyright (c)2021 김서현, All right reserved</p>

            </div>
            <!-- //푸터 -->

        </div>
    </body>
</html>