<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF=8">
        <title>필름카메라 사진</title>
        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>

    <body>
        <div id="wrap">
            <!-- 헤더영역 -->
            <div id="header" class="clearfix">
                <!-- 사이트로고 -->
                <h1><a href="../main/main.html">Mysite</a></h1>

                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="../user/join.html">회원가입</a></li>
                </ul>
            </div>
            <!-- //헤더영역 -->


            <!-- 네비게이션(상단메뉴 GNB) -->
            <div id="nav">

                <ul class="clearfix">
                    <li><a href="../info/resume.html">입사지원서</a></li>
                    <li><a href="../board/list.html">게시판</a></li>
                    <li><a href="../gallary/gal.html">갤러리</a></li>
                    <li class="last"><a href="">방명록</a></li>
                </ul>

            </div>
            <!-- //네비게이션(상단메뉴 GNB) -->

            <!-- 컨텐츠 영역 -->
            <div id="contents" class="clearfix">

                <!-- 왼쪽메뉴 -->
                <div id="aside">
                    <div>
                        <h2>
                            갤러리
                        </h2>

                        <ul>
                            <li><a href="">디지털카메라 사진</a></li>
                            <li><a href="../gallary/gal.html">필름카메라 사진</a></li>
                            <li>스마트폰 사진</li>
                        </ul>
                        
                    </div>


                </div>
                <!-- //왼쪽메뉴 -->


                <!-- 메인 -->
                <div id="main">

                    <div id="main-head" class="clearfix">
                        <h3>
                            필름카메라 사진
                        </h3>
                        <ul class="clearfix">
                            <li><a href="../main/main.html">홈</a></li>
                            <li><a href="./gal.html">갤러리</a></li>
                            <li class="last"><a href="./gal.html">필름카메라 사진</a></li>
                        </ul>
                    </div>
                    <!-- //main-head -->

                    <div id="main-body">
                        <div id="board">
                            <!-- 검색영역 -->
                            <div id="search-area" class="clearfix">
                                <form action="#" method="get">
                                    <input type="text" name="keyword" value="" id="">
                                    <button type="submit">검색</button>
                                </form>  
                            </div>
                            <!-- //검색영역 -->


                            <!-- 갤러리 리스트 -->
                            <div id="gallary-list">
                                
                                <img src="../../assets/img/gal/1.jpg" alt="">
                                <img src="../../assets/img/gal/2.jpg" alt="">
                                <img src="../../assets/img/gal/3.jpg" alt="">
                                <img src="../../assets/img/gal/10.jpg" alt="">
                                <img src="../../assets/img/gal/20.jpg" alt="">
                                <img src="../../assets/img/gal/30.jpg" alt="">
                                <img src="../../assets/img/gal/4.jpg" alt="">
                                <img src="../../assets/img/gal/5.jpg" alt="">
                                <img src="../../assets/img/gal/6.jpg" alt="">

                                

                            </div>
                            <!-- //갤러리 리스트 -->



                            <!-- 페이징 -->
                            <div id="pager">
                                <ol class="clearfix">
                                    <li><a href="">◀</a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a class="active" href="">6</a></li>
                                    <li><a href="">7</a></li>
                                    <li><a href="">8</a></li>
                                    <li><a href="">9</a></li>
                                    <li><a href="">10</a></li>
                                    <li><a href="">▶</a></li>

                                </ol>

                                <a id="btn-write" href="./write.html">글쓰기</a>
                            </div>


                            

                            <!-- //페이징 -->


                        </div>
                    </div>
                        <!-- //board -->
                </div>

            
                <!-- //메인 -->

            </div>

            <!-- //컨텐츠영역 -->



            <!-- 푸터 -->
            <div id="footer">
                <p>Copyright (c)2021 김서현, All right reserved</p>

            </div>
            <!-- //푸터 -->
        </div>
    </body>
</html>